
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --vt-teal: #17A6A3;
  --vt-bubblegum: #FB6F92;
  --vt-peacock: #1C3645;
  --vt-snow: #F0F9F8;
  --vt-oat: #ffcfda;
  --vt-powder: #C4E8E8;
  --vt-gray: #DCE1F0;
  --white: #fff;
  --black: #373739;
  --color-success: #9bfab0;
  --color-warning: #ffe5ec;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-snow);
  --color-primary: var(--vt-teal);
  --color-primary-soft: var(--vt-powder);
  --color-secondary: var(--vt-bubblegum);
  --color-secondary-soft: var(--vt-oat);
  --color-disabled: var(--vt-gray);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-snow);
    --color-primary: var(--vt-teal);
    --color-primary-soft: var(--vt-powder);
    --color-secondary: var(--vt-bubblegum);
    --color-secondary-soft: var(--vt-oat);
    --color-disabled: var(--vt-gray);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  background: var(--color-background);
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: var(--black);
  padding: 24px 0 48px;
}

